body {
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.sd {
    background-color: #FF5722;
    background: url("../images/bg-avatar-sd.jpg") no-repeat no-repeat;
}

.sdbutton {
    background-color: #FF5722;
    color: white;
}

.smpPutrabutton {
    background-color: #4CAF50;
    color: white;
}

.smpPutra {
    background-color: #4CAF50;
    background: url("../images/bg-avatar-smpPutra.jpg") no-repeat no-repeat;

}

.smpPutri {
    background-color: #9C27B0;
    background: url("../images/bg-avatar-smpPutri.jpg") no-repeat no-repeat;
}

.smaPutra {
    background-color: #FF5722;
    background: url("../images/bg-avatar-smaPutra.jpg") no-repeat no-repeat;
}

.kepalaYayasan {
    background-color: #4CAF50;
    background: url("../images/bg-avatar-smpPutra.jpg") no-repeat no-repeat;
}
